$menu-items: 5;
$h-offset: 1.5rem;
$v-offset: 0.5rem;
$width: calc(calc(100vw - $h-offset) / 5);

@tailwind components;
@layer components {
  .bottom-nav {
    @apply md:hidden fixed left-0 bottom-0 px-2 pb-3 pt-8 w-full bg-gradient-to-b from-transparent to-white z-20;

    .indicator {
      @apply absolute transition-all duration-300 ease-in-out;
      top: calc($v-offset / 2);
      left: calc($h-offset / 5);
      width: $width;
      height: calc(100% - $v-offset);
    }

    .menu-item {
      @apply transition-transform duration-300 ease-in;

      &.active {
        @apply text-white relative;
        animation: giggle 0.3s ease-in-out 0.15s 1 forwards;
      }
    }

    @for $i from 1 through $menu-items {
      .menu-item:nth-child(#{$i}).active ~ .indicator {
        transform: translateX(calc(#{$width} * #{$i - 1}));
      }
    }

    @keyframes giggle {
      0% {
        transform: translateX(2px) rotate(5deg);
      }
      25% {
        transform: translateX(-2px) rotate(-5deg);
      }
      50% {
        transform: translateX(-2px) rotate(0deg);
      }
      75% {
        transform: translateX(2px) rotate(5deg);
      }
      100% {
        transform: translateX(0) rotate(0deg);
      }
    }
  }
}
